@import-normalize;
/* bring in normalize.css styles */


body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;

  transition: color 0.2s;
}



ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
